name: CI

on:
  push:
    branches:
      - main
      - v[0-9]+.x
    tags:
      - '**'
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build for NGINX ${{ matrix.nginx-version }} using ${{ matrix.build-mode }} ${{ matrix.ffmpeg-version && format('and FFmpeg {0}', matrix.ffmpeg-version) || '' }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        nginx-version:
          - 1.28.0
          - 1.29.2
        ffmpeg-version:
          - null
          - 6.1.3
          - 7.1.2
          - '8.0'
        build-mode:
          - --add-module
          - --add-dynamic-module
    steps:
      - run: sudo apt-get update -qq
      - run: mkdir nginx ffmpeg
      - run: |
          sudo apt-get install -y \
            curl \
            build-essential \
            libfdk-aac-dev \
            libssl-dev \
            libxml2-dev \
            nasm \
            pkg-config
      - if: matrix.ffmpeg-version != null
        run: curl -sL https://ffmpeg.org/releases/ffmpeg-${{ matrix.ffmpeg-version }}.tar.gz | tar -xz --strip-components 1 -C ffmpeg
      - if: matrix.ffmpeg-version != null
        working-directory: ffmpeg
        run: |
          ./configure \
            --prefix=/usr/local \
            --disable-programs \
            --disable-doc \
            --disable-static \
            --enable-gpl \
            --enable-nonfree \
            --enable-shared \
            --enable-libfdk-aac
          make -j$(nproc)
          sudo make install
      - run: sudo ldconfig
      - uses: actions/checkout@v5
        with:
          path: nginx-vod-module
      - run: curl -sL https://nginx.org/download/nginx-${{ matrix.nginx-version }}.tar.gz | tar -xz --strip-components 1 -C nginx
      - working-directory: nginx
        run: |
          ../nginx-vod-module/scripts/build_basic.sh \
            ${{ matrix.build-mode }}=../nginx-vod-module \
            --with-cc-opt='-O3 -mpopcnt'
          sudo make install
      - run: /opt/nginx/sbin/nginx -V
      - working-directory: nginx-vod-module/test
        env:
          NGINX_SOURCE_DIR: ../../nginx
          NGINX_VOD_MODULE_SOURCE_DIR: ../
        run: |
          ./bitset/build.sh
          ./bitset_test
          ./json_parser/build.sh
          ./json_parser_test
          ./parse_utils/build.sh
          ./parse_utils_test
